body {
    background-color: black;
    color: white;
  }
  
  h1 {
    font-size: 8em;
  }

  h2 {
      font-size: 4em;
  }
  
  p {
    font-size: 3em;
    text-align: center;
  }
  
  ul {
    list-style: none;
  }
  
  .nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: grey;
  }
  
  .nav-list {
    display: flex;
    margin-right: 2em;
  }
  
  .nav-list a {
    display: block;
    font-size: 2rem;
    padding: 1rem;
  }
  
  .welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .projects-section {
    text-align: center;
  }
  
  a.navlink {
    color: white;
    text-decoration: none;
  }

  a.navlink:hover {
      background: #330033;
  }
  
  .project {
    color: white;
    text-decoration: none;
  }

  span:hover {
      background: #330033;
  }

  .footer-text {
      color: white;
      text-decoration: none;
      font-size: 1em;
  }

  @media (max-width: 28em) {
    .nav {
      justify-content: center;
    }
  }

  @media (max-width: 28em) {
      html {
          font-size: 60%;
      }
  }

  .page-break {
    background: #330033;
    width: 100%;
    height: 1em;
  }