body {
    background-color: black;
    color: white;
  }
  
  h1 {
    font-size: 8em;
  }
  
  p {
    font-size: 3em;
    text-align: center;
  }
  
  ul {
    list-style: none;
  }
  
  .nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: grey;
  }
  
  .nav-list {
    display: flex;
    margin-right: 2em;
  }
  
  .nav-list a {
    display: block;
    font-size: 2rem;
    padding: 1rem;
  }
  
  .welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .projects-section {
    text-align: center;
  }